<div id="content-box" class="container-fluid">
  <h3 class="content">Click joke to generate joke, or quote to generate a random quote.</h3>
</div>

<a id="get-joke"><button class="btn btn-default">Joke</button></a>
<a id="get-quote"><button class="btn btn-default">Quote</button></a>
