<div class="login-background">
	<button class="btn btn-large" id="sign-in-button">
		<i class="fa fa-github" id="fa-github" aria-hidden="true"></i>
		<%= link_to "Sign in with Github", "/auth/github", id: "text"%>
	</button>
</div>