<div class="snake-game">

	<div class="wrapper">
		<div id="game-box"><div class="food"></div><div class ="snake" id="snake-head"></div><div class="snake" id="snake-body-1"></div><div class="snake" id="snake-body-2"></div></div>
	</div>

	<button class="start-game">
		  Play
	</button>

	<button class="restart-game">
		  Restart
	</button>

	<button class="score-board">
		<span class="score-count"> 0 </span>
	</div>

	<button class="super-food-timer">
		100
	</button>

</div>