<div class="flashes">

</div>

<div>
  <%= render "quotes/quotes" %>
</div>

<div>
  <%= render "snake" %>
</div>

<!-- Articles -->
<div>

	<div class="article-form">
		<%= render partial: '/articles/form' %>
	</div>
	<div class="article-feed">
		<% @articles.each do |article| %>
			<div class="article">
				<p>article.title</p>
				<p>article.description</p>
				<p>article.url</p>
			</div>
		<% end %>
	</div>
</div>

<!-- Goals -->
<div>
</div>

<div>
  <%= link_to "Log out", sign_out_path %>
</div>
